fastapi==0.115.12
uvicorn==0.34.3
motor==3.7.1
pymongo==4.13.1
python-dotenv==1.1.0
python-multipart==0.0.20
pydantic==2.11.7
pydantic[email]
numpy==2.3.0
faiss-cpu==1.15.0
fastembed==0.8.0
PyMuPDF==1.26.1
pytesseract==0.3.13
Pillow==11.2.1
groq
